@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Пользователи</title>
</head>
<body>
<div>
    <h3>Пользователи</h3>
    <table>
        <tr><td><p>Chat ID</p></td>
            <td><p>Подписан</p></td>
            <td></td>
        </tr>
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td><p>@item.ChatId</p></td>
                <td><p>@item.IsSubscribed</p></td>
            </tr>
        }
    </table>
</div>
</body>
</html>